body {
  background-color: #111;
}

.bars {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 5em auto 0;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 200px;
}

.bar {
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.bar:nth-child(1) {
  height: 196px;
  background-color: #330000;
  -webkit-animation: u81ae818e 1s linear infinite alternate;
          animation: u81ae818e 1s linear infinite alternate;
}

@-webkit-keyframes u81ae818e {
  to {
    height: 119px;
    background-color: #b70000;
  }
}

@keyframes u81ae818e {
  to {
    height: 119px;
    background-color: #b70000;
  }
}

.bar:nth-child(2) {
  height: 45px;
  background-color: #990000;
  -webkit-animation: ufcf20a71 1s linear infinite alternate;
          animation: ufcf20a71 1s linear infinite alternate;
}

@-webkit-keyframes ufcf20a71 {
  to {
    height: 73px;
    background-color: #a90000;
  }
}

@keyframes ufcf20a71 {
  to {
    height: 73px;
    background-color: #a90000;
  }
}

.bar:nth-child(3) {
  height: 115px;
  background-color: #550000;
  -webkit-animation: u2a9a5048 1s linear infinite alternate;
          animation: u2a9a5048 1s linear infinite alternate;
}

@-webkit-keyframes u2a9a5048 {
  to {
    height: 186px;
    background-color: #b00000;
  }
}

@keyframes u2a9a5048 {
  to {
    height: 186px;
    background-color: #b00000;
  }
}

.bar:nth-child(4) {
  height: 107px;
  background-color: #630000;
  -webkit-animation: u904a8fa8 1s linear infinite alternate;
          animation: u904a8fa8 1s linear infinite alternate;
}

@-webkit-keyframes u904a8fa8 {
  to {
    height: 133px;
    background-color: #110000;
  }
}

@keyframes u904a8fa8 {
  to {
    height: 133px;
    background-color: #110000;
  }
}

.bar:nth-child(5) {
  height: 112px;
  background-color: #b00000;
  -webkit-animation: u3f98d772 1s linear infinite alternate;
          animation: u3f98d772 1s linear infinite alternate;
}

@-webkit-keyframes u3f98d772 {
  to {
    height: 116px;
    background-color: #350000;
  }
}

@keyframes u3f98d772 {
  to {
    height: 116px;
    background-color: #350000;
  }
}

.bar:nth-child(6) {
  height: 38px;
  background-color: #6d0000;
  -webkit-animation: uf2600a74 1s linear infinite alternate;
          animation: uf2600a74 1s linear infinite alternate;
}

@-webkit-keyframes uf2600a74 {
  to {
    height: 55px;
    background-color: #760000;
  }
}

@keyframes uf2600a74 {
  to {
    height: 55px;
    background-color: #760000;
  }
}

.bar:nth-child(7) {
  height: 36px;
  background-color: #840000;
  -webkit-animation: ud1e1f313 1s linear infinite alternate;
          animation: ud1e1f313 1s linear infinite alternate;
}

@-webkit-keyframes ud1e1f313 {
  to {
    height: 185px;
    background-color: #e30000;
  }
}

@keyframes ud1e1f313 {
  to {
    height: 185px;
    background-color: #e30000;
  }
}

.bar:nth-child(8) {
  height: 19px;
  background-color: #8a0000;
  -webkit-animation: u4ee85345 1s linear infinite alternate;
          animation: u4ee85345 1s linear infinite alternate;
}

@-webkit-keyframes u4ee85345 {
  to {
    height: 80px;
    background-color: #9d0000;
  }
}

@keyframes u4ee85345 {
  to {
    height: 80px;
    background-color: #9d0000;
  }
}

.bar:nth-child(9) {
  height: 137px;
  background-color: #7e0000;
  -webkit-animation: ud83dd1d5 1s linear infinite alternate;
          animation: ud83dd1d5 1s linear infinite alternate;
}

@-webkit-keyframes ud83dd1d5 {
  to {
    height: 133px;
    background-color: #080000;
  }
}

@keyframes ud83dd1d5 {
  to {
    height: 133px;
    background-color: #080000;
  }
}

.bar:nth-child(10) {
  height: 33px;
  background-color: #cb0000;
  -webkit-animation: u02e1de99 1s linear infinite alternate;
          animation: u02e1de99 1s linear infinite alternate;
}

@-webkit-keyframes u02e1de99 {
  to {
    height: 26px;
    background-color: #7a0000;
  }
}

@keyframes u02e1de99 {
  to {
    height: 26px;
    background-color: #7a0000;
  }
}

.bar:nth-child(11) {
  height: 25px;
  background-color: #190000;
  -webkit-animation: uf151e516 1s linear infinite alternate;
          animation: uf151e516 1s linear infinite alternate;
}

@-webkit-keyframes uf151e516 {
  to {
    height: 1px;
    background-color: #300000;
  }
}

@keyframes uf151e516 {
  to {
    height: 1px;
    background-color: #300000;
  }
}

.bar:nth-child(12) {
  height: 58px;
  background-color: #680000;
  -webkit-animation: u074c5f41 1s linear infinite alternate;
          animation: u074c5f41 1s linear infinite alternate;
}

@-webkit-keyframes u074c5f41 {
  to {
    height: 124px;
    background-color: #fc0000;
  }
}

@keyframes u074c5f41 {
  to {
    height: 124px;
    background-color: #fc0000;
  }
}

.bar:nth-child(13) {
  height: 106px;
  background-color: #3f0000;
  -webkit-animation: ud1f39bbd 1s linear infinite alternate;
          animation: ud1f39bbd 1s linear infinite alternate;
}

@-webkit-keyframes ud1f39bbd {
  to {
    height: 9px;
    background-color: #200000;
  }
}

@keyframes ud1f39bbd {
  to {
    height: 9px;
    background-color: #200000;
  }
}

.bar:nth-child(14) {
  height: 25px;
  background-color: #740000;
  -webkit-animation: u9f80dad8 1s linear infinite alternate;
          animation: u9f80dad8 1s linear infinite alternate;
}

@-webkit-keyframes u9f80dad8 {
  to {
    height: 38px;
    background-color: #ad0000;
  }
}

@keyframes u9f80dad8 {
  to {
    height: 38px;
    background-color: #ad0000;
  }
}

.bar:nth-child(15) {
  height: 42px;
  background-color: #7b0000;
  -webkit-animation: ua143c136 1s linear infinite alternate;
          animation: ua143c136 1s linear infinite alternate;
}

@-webkit-keyframes ua143c136 {
  to {
    height: 82px;
    background-color: #f40000;
  }
}

@keyframes ua143c136 {
  to {
    height: 82px;
    background-color: #f40000;
  }
}

.bar:nth-child(16) {
  height: 4px;
  background-color: #ba0000;
  -webkit-animation: ufa9abd0c 1s linear infinite alternate;
          animation: ufa9abd0c 1s linear infinite alternate;
}

@-webkit-keyframes ufa9abd0c {
  to {
    height: 90px;
    background-color: #470000;
  }
}

@keyframes ufa9abd0c {
  to {
    height: 90px;
    background-color: #470000;
  }
}

.bar:nth-child(17) {
  height: 173px;
  background-color: #080000;
  -webkit-animation: ub463b085 1s linear infinite alternate;
          animation: ub463b085 1s linear infinite alternate;
}

@-webkit-keyframes ub463b085 {
  to {
    height: 25px;
    background-color: #bc0000;
  }
}

@keyframes ub463b085 {
  to {
    height: 25px;
    background-color: #bc0000;
  }
}

.bar:nth-child(18) {
  height: 32px;
  background-color: #760000;
  -webkit-animation: uf06ea028 1s linear infinite alternate;
          animation: uf06ea028 1s linear infinite alternate;
}

@-webkit-keyframes uf06ea028 {
  to {
    height: 117px;
    background-color: #130000;
  }
}

@keyframes uf06ea028 {
  to {
    height: 117px;
    background-color: #130000;
  }
}

.bar:nth-child(19) {
  height: 56px;
  background-color: #ce0000;
  -webkit-animation: u166f7f7d 1s linear infinite alternate;
          animation: u166f7f7d 1s linear infinite alternate;
}

@-webkit-keyframes u166f7f7d {
  to {
    height: 140px;
    background-color: #0a0000;
  }
}

@keyframes u166f7f7d {
  to {
    height: 140px;
    background-color: #0a0000;
  }
}

.bar:nth-child(20) {
  height: 82px;
  background-color: #b30000;
  -webkit-animation: udb646abc 1s linear infinite alternate;
          animation: udb646abc 1s linear infinite alternate;
}

@-webkit-keyframes udb646abc {
  to {
    height: 98px;
    background-color: #550000;
  }
}

@keyframes udb646abc {
  to {
    height: 98px;
    background-color: #550000;
  }
}

.bar:nth-child(21) {
  height: 132px;
  background-color: #260000;
  -webkit-animation: u1bf1a34f 1s linear infinite alternate;
          animation: u1bf1a34f 1s linear infinite alternate;
}

@-webkit-keyframes u1bf1a34f {
  to {
    height: 131px;
    background-color: #940000;
  }
}

@keyframes u1bf1a34f {
  to {
    height: 131px;
    background-color: #940000;
  }
}

.bar:nth-child(22) {
  height: 120px;
  background-color: #820000;
  -webkit-animation: u9714c982 1s linear infinite alternate;
          animation: u9714c982 1s linear infinite alternate;
}

@-webkit-keyframes u9714c982 {
  to {
    height: 15px;
    background-color: #3d0000;
  }
}

@keyframes u9714c982 {
  to {
    height: 15px;
    background-color: #3d0000;
  }
}

.bar:nth-child(23) {
  height: 114px;
  background-color: darkred;
  -webkit-animation: u8a9f76d1 1s linear infinite alternate;
          animation: u8a9f76d1 1s linear infinite alternate;
}

@-webkit-keyframes u8a9f76d1 {
  to {
    height: 36px;
    background-color: #c90000;
  }
}

@keyframes u8a9f76d1 {
  to {
    height: 36px;
    background-color: #c90000;
  }
}

.bar:nth-child(24) {
  height: 60px;
  background-color: #cd0000;
  -webkit-animation: u494a0204 1s linear infinite alternate;
          animation: u494a0204 1s linear infinite alternate;
}

@-webkit-keyframes u494a0204 {
  to {
    height: 85px;
    background-color: #050000;
  }
}

@keyframes u494a0204 {
  to {
    height: 85px;
    background-color: #050000;
  }
}

.bar:nth-child(25) {
  height: 128px;
  background-color: #e10000;
  -webkit-animation: udf29950b 1s linear infinite alternate;
          animation: udf29950b 1s linear infinite alternate;
}

@-webkit-keyframes udf29950b {
  to {
    height: 24px;
    background-color: #9a0000;
  }
}

@keyframes udf29950b {
  to {
    height: 24px;
    background-color: #9a0000;
  }
}

.bar:nth-child(26) {
  height: 198px;
  background-color: #dc0000;
  -webkit-animation: ub81b8630 1s linear infinite alternate;
          animation: ub81b8630 1s linear infinite alternate;
}

@-webkit-keyframes ub81b8630 {
  to {
    height: 172px;
    background-color: #1f0000;
  }
}

@keyframes ub81b8630 {
  to {
    height: 172px;
    background-color: #1f0000;
  }
}

.bar:nth-child(27) {
  height: 36px;
  background-color: #030000;
  -webkit-animation: uc70b62ea 1s linear infinite alternate;
          animation: uc70b62ea 1s linear infinite alternate;
}

@-webkit-keyframes uc70b62ea {
  to {
    height: 12px;
    background-color: #3a0000;
  }
}

@keyframes uc70b62ea {
  to {
    height: 12px;
    background-color: #3a0000;
  }
}

.bar:nth-child(28) {
  height: 156px;
  background-color: #a00000;
  -webkit-animation: u2a83acbb 1s linear infinite alternate;
          animation: u2a83acbb 1s linear infinite alternate;
}

@-webkit-keyframes u2a83acbb {
  to {
    height: 171px;
    background-color: #840000;
  }
}

@keyframes u2a83acbb {
  to {
    height: 171px;
    background-color: #840000;
  }
}

.bar:nth-child(29) {
  height: 113px;
  background-color: #f50000;
  -webkit-animation: u3f2c5a32 1s linear infinite alternate;
          animation: u3f2c5a32 1s linear infinite alternate;
}

@-webkit-keyframes u3f2c5a32 {
  to {
    height: 186px;
    background-color: #b90000;
  }
}

@keyframes u3f2c5a32 {
  to {
    height: 186px;
    background-color: #b90000;
  }
}

.bar:nth-child(30) {
  height: 106px;
  background-color: #9a0000;
  -webkit-animation: u6166dce9 1s linear infinite alternate;
          animation: u6166dce9 1s linear infinite alternate;
}

@-webkit-keyframes u6166dce9 {
  to {
    height: 68px;
    background-color: #dc0000;
  }
}

@keyframes u6166dce9 {
  to {
    height: 68px;
    background-color: #dc0000;
  }
}

.bar:nth-child(31) {
  height: 21px;
  background-color: #460000;
  -webkit-animation: u5dc55632 1s linear infinite alternate;
          animation: u5dc55632 1s linear infinite alternate;
}

@-webkit-keyframes u5dc55632 {
  to {
    height: 146px;
    background-color: #c60000;
  }
}

@keyframes u5dc55632 {
  to {
    height: 146px;
    background-color: #c60000;
  }
}

.bar:nth-child(32) {
  height: 27px;
  background-color: #320000;
  -webkit-animation: ufb272442 1s linear infinite alternate;
          animation: ufb272442 1s linear infinite alternate;
}

@-webkit-keyframes ufb272442 {
  to {
    height: 134px;
    background-color: #080000;
  }
}

@keyframes ufb272442 {
  to {
    height: 134px;
    background-color: #080000;
  }
}

.bar:nth-child(33) {
  height: 22px;
  background-color: #240000;
  -webkit-animation: u3180cf94 1s linear infinite alternate;
          animation: u3180cf94 1s linear infinite alternate;
}

@-webkit-keyframes u3180cf94 {
  to {
    height: 28px;
    background-color: #e00000;
  }
}

@keyframes u3180cf94 {
  to {
    height: 28px;
    background-color: #e00000;
  }
}

.bar:nth-child(34) {
  height: 90px;
  background-color: #730000;
  -webkit-animation: u31980cb4 1s linear infinite alternate;
          animation: u31980cb4 1s linear infinite alternate;
}

@-webkit-keyframes u31980cb4 {
  to {
    height: 79px;
    background-color: #e20000;
  }
}

@keyframes u31980cb4 {
  to {
    height: 79px;
    background-color: #e20000;
  }
}

.bar:nth-child(35) {
  height: 200px;
  background-color: #c40000;
  -webkit-animation: u11440d51 1s linear infinite alternate;
          animation: u11440d51 1s linear infinite alternate;
}

@-webkit-keyframes u11440d51 {
  to {
    height: 103px;
    background-color: #850000;
  }
}

@keyframes u11440d51 {
  to {
    height: 103px;
    background-color: #850000;
  }
}

.bar:nth-child(36) {
  height: 165px;
  background-color: #980000;
  -webkit-animation: u6ed2e98f 1s linear infinite alternate;
          animation: u6ed2e98f 1s linear infinite alternate;
}

@-webkit-keyframes u6ed2e98f {
  to {
    height: 165px;
    background-color: #760000;
  }
}

@keyframes u6ed2e98f {
  to {
    height: 165px;
    background-color: #760000;
  }
}

.bar:nth-child(37) {
  height: 174px;
  background-color: #b00000;
  -webkit-animation: u910c7703 1s linear infinite alternate;
          animation: u910c7703 1s linear infinite alternate;
}

@-webkit-keyframes u910c7703 {
  to {
    height: 16px;
    background-color: #d80000;
  }
}

@keyframes u910c7703 {
  to {
    height: 16px;
    background-color: #d80000;
  }
}

.bar:nth-child(38) {
  height: 159px;
  background-color: #6a0000;
  -webkit-animation: u4def2687 1s linear infinite alternate;
          animation: u4def2687 1s linear infinite alternate;
}

@-webkit-keyframes u4def2687 {
  to {
    height: 175px;
    background-color: #2c0000;
  }
}

@keyframes u4def2687 {
  to {
    height: 175px;
    background-color: #2c0000;
  }
}

.bar:nth-child(39) {
  height: 121px;
  background-color: #4a0000;
  -webkit-animation: u34c411bc 1s linear infinite alternate;
          animation: u34c411bc 1s linear infinite alternate;
}

@-webkit-keyframes u34c411bc {
  to {
    height: 104px;
    background-color: #f90000;
  }
}

@keyframes u34c411bc {
  to {
    height: 104px;
    background-color: #f90000;
  }
}

.bar:nth-child(40) {
  height: 80px;
  background-color: #2a0000;
  -webkit-animation: u93e162c6 1s linear infinite alternate;
          animation: u93e162c6 1s linear infinite alternate;
}

@-webkit-keyframes u93e162c6 {
  to {
    height: 67px;
    background-color: #c30000;
  }
}

@keyframes u93e162c6 {
  to {
    height: 67px;
    background-color: #c30000;
  }
}

.bar:nth-child(41) {
  height: 71px;
  background-color: #ef0000;
  -webkit-animation: ud5a1bd2e 1s linear infinite alternate;
          animation: ud5a1bd2e 1s linear infinite alternate;
}

@-webkit-keyframes ud5a1bd2e {
  to {
    height: 163px;
    background-color: #c20000;
  }
}

@keyframes ud5a1bd2e {
  to {
    height: 163px;
    background-color: #c20000;
  }
}

.bar:nth-child(42) {
  height: 94px;
  background-color: #e70000;
  -webkit-animation: u4334a7d1 1s linear infinite alternate;
          animation: u4334a7d1 1s linear infinite alternate;
}

@-webkit-keyframes u4334a7d1 {
  to {
    height: 12px;
    background-color: #e40000;
  }
}

@keyframes u4334a7d1 {
  to {
    height: 12px;
    background-color: #e40000;
  }
}

.bar:nth-child(43) {
  height: 161px;
  background-color: #ba0000;
  -webkit-animation: u53ee7d3a 1s linear infinite alternate;
          animation: u53ee7d3a 1s linear infinite alternate;
}

@-webkit-keyframes u53ee7d3a {
  to {
    height: 49px;
    background-color: #880000;
  }
}

@keyframes u53ee7d3a {
  to {
    height: 49px;
    background-color: #880000;
  }
}

.bar:nth-child(44) {
  height: 44px;
  background-color: #d50000;
  -webkit-animation: u3f75b83a 1s linear infinite alternate;
          animation: u3f75b83a 1s linear infinite alternate;
}

@-webkit-keyframes u3f75b83a {
  to {
    height: 120px;
    background-color: #1b0000;
  }
}

@keyframes u3f75b83a {
  to {
    height: 120px;
    background-color: #1b0000;
  }
}

.bar:nth-child(45) {
  height: 127px;
  background-color: #ce0000;
  -webkit-animation: ud1e378c9 1s linear infinite alternate;
          animation: ud1e378c9 1s linear infinite alternate;
}

@-webkit-keyframes ud1e378c9 {
  to {
    height: 168px;
    background-color: #950000;
  }
}

@keyframes ud1e378c9 {
  to {
    height: 168px;
    background-color: #950000;
  }
}

.bar:nth-child(46) {
  height: 78px;
  background-color: #810000;
  -webkit-animation: ub2f8aeeb 1s linear infinite alternate;
          animation: ub2f8aeeb 1s linear infinite alternate;
}

@-webkit-keyframes ub2f8aeeb {
  to {
    height: 51px;
    background-color: #cb0000;
  }
}

@keyframes ub2f8aeeb {
  to {
    height: 51px;
    background-color: #cb0000;
  }
}

.bar:nth-child(47) {
  height: 56px;
  background-color: #240000;
  -webkit-animation: u4a77e69a 1s linear infinite alternate;
          animation: u4a77e69a 1s linear infinite alternate;
}

@-webkit-keyframes u4a77e69a {
  to {
    height: 115px;
    background-color: #d60000;
  }
}

@keyframes u4a77e69a {
  to {
    height: 115px;
    background-color: #d60000;
  }
}

.bar:nth-child(48) {
  height: 141px;
  background-color: #470000;
  -webkit-animation: u60526a61 1s linear infinite alternate;
          animation: u60526a61 1s linear infinite alternate;
}

@-webkit-keyframes u60526a61 {
  to {
    height: 127px;
    background-color: #e70000;
  }
}

@keyframes u60526a61 {
  to {
    height: 127px;
    background-color: #e70000;
  }
}

.bar:nth-child(49) {
  height: 59px;
  background-color: #a30000;
  -webkit-animation: u063e2427 1s linear infinite alternate;
          animation: u063e2427 1s linear infinite alternate;
}

@-webkit-keyframes u063e2427 {
  to {
    height: 102px;
    background-color: #220000;
  }
}

@keyframes u063e2427 {
  to {
    height: 102px;
    background-color: #220000;
  }
}

.bar:nth-child(50) {
  height: 75px;
  background-color: #360000;
  -webkit-animation: udf565fd7 1s linear infinite alternate;
          animation: udf565fd7 1s linear infinite alternate;
}

@-webkit-keyframes udf565fd7 {
  to {
    height: 48px;
    background-color: #600000;
  }
}

@keyframes udf565fd7 {
  to {
    height: 48px;
    background-color: #600000;
  }
}

/*# sourceMappingURL=ejercicio.css.map */