.facebook {
  background-color: blue;
  margin: 1px;
}

.twitter {
  background-color: lightblue;
  margin: 2px;
}

.youtube {
  background-color: red;
  margin: 3px;
}

data {
  value: 2px;
}

data {
  value: #004d00;
}

.blue-base {
  background-color: blue;
}

.blue-dark {
  background-color: #0000cc;
}

.blue-light {
  background-color: #3333ff;
}

.green-base {
  background-color: green;
}

.green-dark {
  background-color: #004d00;
}

.green-light {
  background-color: #00b300;
}
