<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0")
    //-link(rel="stylesheet", href="css/ejercicio.css")
    link(rel="stylesheet", href="css/01.css")
    title Colores Sass
  body
    .spectrum
      -var n = 360
      while n--
        .dot